<div class="row">
    <div class="col-12">
        <img src="/assets/images/burger.png">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>Eat The Burger</h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <h5> What you can eat</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p> Chees burger</p>
                <button class="devour"> Devour It </button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <h5> What you have devoured</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p> Classic cheeseburger </p>
            </div>
        </div>
    </div>
</div>
<form class="create-form">
    <div class="row">
        <div class="col-12">
            <textarea type="text"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="submit">submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Enter the burgure you would like to eat and click submit</h4>
        </div>
    </div>
</form>